<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="Website">
	<meta name="keywords" content="web design, website">
	<title>rOG Web Design | About</title>
	<link rel="stylesheet" href="./css/style.css">
</head>
<body>
	<header>
		<div class="container">
			<div id="branding">
				<h1><span class="highlight">rOG</span> Design</h1>
			</div>
			<nav>
				<ul>
					<li><a href="index.html">Home</a></li>
					<li class="current"><a href="about.html">About</a></li>
					<li><a href="services.html">Services</a></li>
				</ul>
			</nav>
		</div>
	</header>

	

	<section id="newsletter">
		<div class="container">
			<h1>Subscribe to our newsletter</h1>
			<form>
				<input type="email" placeholder="Enter an e-mail">
				<button type="submit" class="button">Subscribe</button>
			</form>
		</div>
	</section>

	<section id="main">
		<div class="container">
			<article id="main-col">
				<h1 class="page-title">About Us</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris orci libero, blandit ut eros et, gravida euismod ipsum. Fusce id odio eu eros tempor tempus. Nullam est tortor, ultricies ut sem vel, pretium semper elit. Sed sagittis risus et velit ultricies, sit amet elementum velit sagittis. Etiam in justo arcu. Sed efficitur, nisl at scelerisque hendrerit, dolor justo sollicitudin nulla, nec lacinia neque eros sed arcu. Vestibulum in mi mi. Mauris et eros eu velit auctor cursus vitae sit amet felis. Mauris nisi lorem, sagittis vel congue porta, hendrerit eget leo. Vivamus nisi quam, vestibulum vel nisl eu, laoreet accumsan magna.</p>

				<p class="dark">Praesent nec orci lectus. Integer lacus quam, maximus id quam sed, interdum faucibus dui. Curabitur non metus dictum, iaculis odio nec, rutrum quam. Phasellus neque nibh, tincidunt et dignissim vitae, euismod vitae metus. Vestibulum sed ipsum quis dui commodo aliquet sit amet dictum magna. Nam orci nulla, auctor vitae tellus auctor, lacinia pretium augue. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc scelerisque magna nunc, at lacinia mi condimentum ut. Curabitur eget vestibulum nisi.</p>

			</article>

			<aside id="sidebar">
				<div class="dark">
				<h3>What We do</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris orci libero, blandit ut eros et, gravida euismod ipsum. Fusce id odio eu eros tempor tempus. Nullam est tortor, ultricies ut sem vel, pretium semper elit.</p>
			</div>
			</aside>
		</div>
	</section>

	<footer>
		<p>Web Design, Copyright &copy; 2017</p>
	</footer>
</body>
</html>